footer {
  background-color: #0f172a;
  color: #e2e8f0;
  padding-bottom: 5rem;
}

.socials-list {
  display: inline-flex;
  flex-direction: column;
}

.socials-list a {
  text-decoration: none;
  color: #e2e8f0;
  margin: 1rem 0;
}

.socials-list a:hover {
  color: #fff;
}

.social-link span {
  margin: 0 6px;
}

.bottom {
  border-top: solid 1px rgba(255, 255, 255, 0.5);
  margin-top: 2rem;
}

@media only screen and (min-width: 768px) {
  .foot-wrapper {
    margin: auto;
    width: 100%;
    max-width: 90vw;
    border-bottom: solid 1px #fff;
  }
}
